* {
  margin: 0;
  padding: 0;
  transition: 0.2s ease-in-out;
}

.main_s {
  background-image: url(./../img/Background1.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .main_s {
    background-position: top center;
  }
}
@media screen and (min-width: 992px) {
  .main_s {
    background-position: contain;
  }
}

.p-45 {
  padding: 2rem !important;
}
.pl-45 {
  padding-left: 2rem !important;
}
.pr-45 {
  padding-right: 2rem !important;
}
.pt-45 {
  padding-top: 2rem !important;
}
.pb-45 {
  padding-bottom: 2rem !important;
}

.m-45 {
  margin: 2rem !important;
}
.ml-45 {
  margin-left: 2rem !important;
}
.mr-45 {
  margin-right: 2rem !important;
}
.mt-45 {
  margin-top: 2rem !important;
}
.mb-45 {
  margin-bottom: 2rem !important;
}

@media screen and (min-width: 992px) {
  .p-lg-45 {
    padding: 2rem !important;
  }
  .pl-lg-45 {
    padding-left: 2rem !important;
  }
  .pr-lg-45 {
    padding-right: 2rem !important;
  }
  .pt-lg-45 {
    padding-top: 2rem !important;
  }
  .pb-lg-45 {
    padding-bottom: 2rem !important;
  }
  .m-lg-45 {
    margin: 2rem !important;
  }
  .ml-lg-45 {
    margin-left: 2rem !important;
  }
  .mr-lg-45 {
    margin-right: 2rem !important;
  }
  .mt-lg-45 {
    margin-top: 2rem !important;
  }
  .mb-lg-45 {
    margin-bottom: 2rem !important;
  }
}
.my-32 {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .mt-32 {
    margin-top: 2rem !important;
  }
}

@media screen and (min-width: 0) and (max-width: 576px) {
  .mt-00 {
    margin-top: 0 !important;
  }
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

.h_main {
  width: 335px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: -0.025em;
  color: #111827;
}
@media screen and (min-width: 768px) {
  .h_main {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.025em;
    color: #111827;
  }
}
@media screen and (min-width: 992px) {
  .h_main {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.025em;
    color: #111827;
  }
}

.h_main1 {
  width: 335px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: -0.025em;
  color: #111827;
}
@media screen and (min-width: 768px) {
  .h_main1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.025em;
    color: #111827;
  }
}
@media screen and (min-width: 992px) {
  .h_main1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.025em;
    color: #111827;
  }
}

.h_main2 {
  width: 335px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -0.025em;
  color: #111827;
}
@media screen and (min-width: 768px) {
  .h_main2 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.025em;
    color: #111827;
    width: 688px;
  }
}
@media screen and (min-width: 992px) {
  .h_main2 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.025em;
    color: #111827;
    width: 500px;
  }
}

.h_main3 {
  width: 335px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: -0.025em;
  color: #111827;
}
@media screen and (min-width: 768px) {
  .h_main3 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.025em;
    color: #111827;
    width: 688px;
  }
}
@media screen and (min-width: 992px) {
  .h_main3 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.025em;
    color: #111827;
    width: 800px;
  }
}

.h_main4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -0.025em;
  color: #111827;
}
@media screen and (min-width: 768px) {
  .h_main4 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.025em;
    color: #111827;
  }
}
@media screen and (min-width: 992px) {
  .h_main4 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.025em;
    color: #111827;
  }
}

.app_but {
  border: 0;
  background: #1DB5BE;
}

.green {
  background: #1DB5BE;
}

.p_get {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #111827;
}

.p_main {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #374151;
}
@media screen and (min-width: 768px) {
  .p_main {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #374151;
  }
}
@media screen and (min-width: 992px) {
  .p_main {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #374151;
  }
}

.but_1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  background: #7C3AED;
  border-radius: 8px;
  width: 138px;
  height: 56px;
  border: 0px;
}

.nav1 {
  width: 60px;
  height: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #111827;
}

.but_2 {
  width: 180px;
  height: 56px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-feature-settings: "liga" off;
  color: #7C3AED;
  background: inherit;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  border: 0px;
}
.but_2 .but_span {
  margin-left: 10px;
}

.logo_height {
  height: 80px;
}
@media screen and (min-width: 768px) {
  .logo_height {
    height: 80px;
  }
}
@media screen and (min-width: 992px) {
  .logo_height {
    height: 80px;
  }
}

.circle_logos {
  background-image: url(../img/half_circle.svg);
  background-repeat: no-repeat;
  background-size: 320px;
}
@media screen and (min-width: 768px) {
  .circle_logos {
    background-size: 328px 164px;
  }
}
@media screen and (min-width: 992px) {
  .circle_logos {
    background-size: 540px 270px;
  }
}

.logo {
  width: 64px;
}
@media screen and (max-width: 992px) {
  .logo {
    width: 40px;
  }
}

.logo1 {
  width: 32px;
  height: 32px;
}

.logo_text h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.025em;
  color: #111827;
}
@media screen and (min-width: 768px) {
  .logo_text h3 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.025em;
    color: #111827;
  }
}
@media screen and (min-width: 992px) {
  .logo_text h3 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.025em;
    color: #111827;
  }
}
.logo_text p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #111827;
}
@media screen and (min-width: 768px) {
  .logo_text p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #111827;
  }
}

.review_section {
  background: #D5FAFC;
}

.review {
  background-image: url(../img/Quote_mark.svg);
  background-repeat: no-repeat;
  background-position: 12px 44px;
}
@media screen and (min-width: 768px) {
  .review {
    background-position: 22px 34px;
  }
}
@media screen and (min-width: 992px) {
  .review {
    background-position: 92px 44px;
  }
}

.small_quote {
  background-image: url(../img/small_quote.svg);
  background-repeat: no-repeat;
  background-position: 32px 86px;
}

.f_span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.last_s {
  background: black;
}/*# sourceMappingURL=style.css.map */